header {font-size:45px;}
#webpage { background-color: lightgreen;}
#second {font-size:30px;}
#header {font-size:20px;}
tr {text-align: center;
font-size:10px;}
#green{background-color: lightgreen
}
#red{background-color: red
}
#Dashboard{background-color: } 
